.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  color: white;
  height: 62px;
  align-items: center;
 
  .search-bar{
    margin: 0 auto;
    display: flex;  
    align-items: flex-end;
    justify-content: space-between;
    max-width: 600px;
    font-size: 26px;
    padding-top: 10px;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home-page{
  margin: 0 auto;
  max-width: 1500px;
  color:red
}